* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent-primary: hsl(276, 60%, 55%);

  --b-primary: #121212;

  --c-primary: #FBFBFB;
  --c-secondary: #ABABAB;
  --c-tertiary: #505050;

  --width: 920px;
}

::selection {
  background-color: var(--accent-primary);
}

body {

  font-family: system-ui;
  background-color: var(--b-primary);
  color: var(--c-primary);
}

header {
  max-width: var(--width);
  padding: 5rem 1rem;
  margin: 0 auto;

  h1 {
    padding-bottom: .5rem;
    font-size: 2.5rem;
  }

  p {
    color: var(--c-secondary);
    font-size: 1.5rem;
  }
}

footer {
  max-width: var(--width);
  padding: 5rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  div:first-of-type {
    padding-top: 5rem;
    padding-bottom: 3rem;

    p {
      color: var(--c-tertiary);
    }
  }
  
  h3 {
    margin-bottom: 8px;
  }

  ul {
    list-style: none;

    a {
      text-decoration: none;
      color: var(--c-secondary);
      display: block;
      line-height: 1.5;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}